@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap');

body {
    background-color: #386586;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255, 0);
    color: white;
    width: 100%;
    padding: 1.5rem 0;
}

.left-nav-buttons, .right-nav-buttons {
    display: flex;
    flex: 1;
}

header .left-nav-buttons {
    justify-content: flex-start;
    margin-left: 4rem;
}

header .right-nav-buttons {
    justify-content: flex-end;
    margin-right: 4rem;
}

.dropdown {
    margin: 0 1rem;
    position: relative;
    display: inline-block;
    transition: all 0.2s ease;
}

.dropdown-button-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-button-container img {
    margin-left: -0.1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
}

#home-dropdown-content {
    min-width: 10rem;
}

#store-dropdown-content {
    min-width: 6.5rem;
}

#search-dropdown-content {
    min-width: 20rem;
    right: -4rem;
    left: auto;
}

#search-bar {
    width: 100%;
    padding: 0.5rem;
    border: 0;
    font-family: sora;
    font-size: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
}

#search-bar:focus {
    outline: none;
}

#cart-dropdown-content {
    min-height: 10rem;
    width: 20rem;
    right: 0;
    left: auto;
    align-items: center;
    justify-content: center;
    margin-top: 0.3rem;
}

.dropdown-content a {
    font-family: sora;
    color: #232323;
    text-decoration: none;
    display: block;
    transition: all 0.2s ease;
    padding: 0.5rem 1rem;
}

.dropdown-content a:hover {
    background-color: #538cb1;
    color: white;
}

.dropdown-content p {
    font-family: sora;
    font-size: 1rem;
    color: #232323;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    padding: 0.5rem 1rem;
    margin: 0;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.right-nav-buttons img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.8rem;
    cursor: pointer;
}

#cart-icon {
    margin-left: 0;
}

header button {
    background-color: rgba(255,255,255, 0);
    border: 0px;
    cursor: pointer;
    color: white;
    font-family: sora;
    font-size: 1rem;
}

#logo {
    font-family: playfair display;
    font-size: 1.3rem;
    margin: 0;
    text-decoration: none;
    color: white;
}

header p {
    font-family: playfair display;
    font-size: 1.3rem;
    margin: 0;
}

header img {
    width: 1rem;
    height: 1rem;
}